/* Introduction Section CSS */

.introSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.introTextSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.introText {
    color: #5353ED;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.introImage {
    width: 40vw;
    height: 40vh;
}

/* Info Section CSS */

.infoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoImage {
    width: 40vw;
    height: 40vh;
    margin-top: 6em;
}

.infoTitle {
    color: #5353ED;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}