html {
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: 0;
}

/* Titlebar CSS */

header {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', Helvetica, sans-serif;
}

.titleBar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.leftTitleBar{
    display: flex;
    flex: 1;
    margin-left: 3em;
    margin-right: 3em;
    align-content: center;
    align-items: center;
}

.middleTitleBar{
    display: flex;
    align-content: center;
    align-items: center;
    flex: 1;
    margin-left: 3em;
    margin-right: 3em;
    justify-content: center;
}

.rightTitleBar{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-left: 3em;
    margin-right: 3em;
}

.menuItem {
    margin-left: 1em;
    margin-right: 1em;
}

.inactiveMenuItem {
    color: rgba(0, 0, 0, 0.60);
}

.activeMenuItem {
    color: #5353ED;
}

.titleBrand {
    color: #5353ED;
}

/* Footer CSS */
footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footerLinks {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 5em 1em 1em 1em;
}

/* Button CSS */

.button {
    background-color: #5353ED;
    border: none;
    color: white;
    width: 20em;
    height: 3em;
    border-radius: 1.5em;
    font-size: 1em;
}