/* Questions CSS */
.questionSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 40vw;
    margin-right: 40vw;
}

textarea {
    font-family: 'Poppins', Helvetica, sans-serif;
    resize: none;
}

.questionText {
    color: #5353ED;
}

select {
    padding: 0.7em;
    border-radius: 0.5em;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
}

textarea {
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
}
.buttonSubmit {
    background-color: #5353ED;
    border: none;
    color: white;
    width: 20em;
    height: 3em;
    border-radius: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}